$main-color: #FF7E26
$light-main: lighten($main-color, 10)
$white: #f1f1f1
$main-font: 'Open Sans', sans-serif
$thin-font: 'Open Sans Condensed', sans-serif

body, html
	margin: 0
	padding: 0
	width: 100%
	min-height: 100%
*
	box-sizing: border-box
h1
	font-family: 'Source Sans Pro'
	font-weight: normal
	margin-bottom: 0
p
	font-family: $main-font
	padding: 0
	line-height: 1.6
	margin: 0
a
	text-decoration: none
	color: $main-color
	transition: color .4s
	&:hover
		color: $light-main
.leftalign
	text-align: left
.centeralign
	text-align: center
.wrapper
	width: 100%
	background-color: $white
	min-height: 100%
	margin-bottom: -59px
.banner
	width: 100%
	height: 47vw
	.bg
		background-image: url(https://static.pexels.com/photos/6042/nature-grain-moving-cereal.jpg)
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		height: 47vw
		width: 100%
		position: absolute
		filter: blur(5px)
		-webkit-filter: blur(5px)
		filter: grayscale(.5)
		-webkit-filter: grayscale(.5)
		&:after
			position: absolute
			top: 0
			height: 100%
			width: 100%
			content: " "
			background-color: rgba(0, 0, 0, .5)
	> img, p
		position: relative
		z-index: 50
		//text-align: center
		color: $main-color
		text-shadow: 1px 1px 10px #777
	p
		font-size: 120%
		font-family: $main-font
		font-style: italic
		position: relative
		top: -30px
		left: 60px
		display: inline-block
	> img
		//padding-top: 30vh
		font-size: 15vh
		//margin: 0 auto
		display: block
		max-width: 100%
		width: 200px
		max-width: 40%
@media(max-width: 700px)
	.banner
		height: 60vw
		.bg
			height: 60vw

.slider
	width: 80%
	max-width: 100%
	height: auto
	margin: 0 auto
	position: absolute
	left: 0
	right: 0
	top: 12vh
	img
		position: absolute
		transition: opacity 1.5s
		//display: none
		opacity: 0
		max-width: 100%
		margin: 0 auto


	#img0
		transition: opacity 3s
	.display
		//display: block
		opacity: 1


.info
	h1
		text-align: center
		margin-bottom: 10px
	margin: 0 auto
	> div:first-child
		margin: 0 auto
		padding: 80px 0
		p, h1
			max-width: 100%
			margin: 0 auto
		h1
			margin-bottom: 40px
			text-align: center
		p
			width: 800px
.services
	display: flex
	justify-content: center
	max-width: 100%
	width: 1500px
	margin: 0 auto
	margin-bottom: 50px
	div
		width: 400px
		margin: 20px
		background-color: #E7E7E8
		padding: 5px 20px
		padding-bottom: 20px
		h3
			color: $main-color
			font-family: $main-font
			text-align: center
			font-weight: normal
		img
			margin: 0 auto
			display: block

.contact
	p
		max-width: 100%
		width: 500px
		margin: 0 auto

.heading
	color: $main-color
	margin-bottom: 40px
	font-family: 'Montserrat'

.central
	width: 1000px
	max-width: 100%
	margin: 0 auto
	padding: 20px
	padding-bottom: 50px
	background-color: #e5e5e5
	//box-shadow: 0 0 10px 1px #aaa
	.heading
		text-align: center
		margin: 0
		margin-top: 20px
	hr
		width: 400px
		max-width: 90%
		margin: 20px auto
.subtext
	text-align: center
	width: 600px
	max-width: 100%
	padding: 0 20px
	margin: 0 auto

.subbanner
	position: relative
	z-index: 1
	background-color: $main-color
	color: white
	text-align: center
	padding: 20px 0
	font-weight: 600
	font-size: 2em
	p
		margin: 0
.subheadingtext
	width: 600px
	margin: 0 auto
	max-width: 100%
.subheading
	@extend .subheadingtext
	margin-bottom: 10px
	margin-top: 15px
	font-size: 1.2em

footer
	padding: 20px
	background-color: #454641
	font-family: 'Roboto', sans-serif
	text-align: center
	color: #fff
	a
		color: #E05530
		&:hover
			color: $main-color
.push
	height: 59px